/*GENERAL*/
:root {
    --rojo: #d43e28;
    --naranja: #eca23b;
    --amarilloClaro: #e6c397;
    --grisOscuro: #020202;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

html,
body {
    margin: 0;
    min-height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--grisOscuro);
}

a {
    text-decoration: none;
}

.icon {
    width: 120px;
}

.btnRojo,
.btnBlanco:hover {
    background-color: var(--rojo);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border: none;
}

.btnBlanco,
.btnRojo:hover {
    background-color: white;
    color: var(--rojo);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    border: none;
}

/*-----------------HEADER-------------------*/
header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    border-bottom: 1px solid #292929;
    background-color: var(--grisOscuro);
}

header .btnRojo {
    font-size: 20px;
    margin-right: 10px;
}

nav {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 100px 0 100px;
}

nav a {
    font-size: 18px;
    font-weight: bold;
    transition: .3s;
}

nav a:hover {
    color: var(--rojo);
}

header>a {
    display: flex;
    align-items: center;
    gap: 15px;
}

header>a img {
    width: 160px;
}

header>a {
    font-size: 35px;
    font-weight: bold;
    color: var(--rojo);
}

.NomUser {
    color: white;
    padding: 0 10px;
    font-size: 25px;
}

.usuario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
}

.usuario:hover {
    cursor: pointer;
}

.usuario i {
    font-size: 20px;
}

/*Menu peglable de usuario*/
.sub-menu-wrap {
    position: absolute;
    top: 7%;
    right: 5%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background-color: var(--grisOscuro);
    padding: 20PX;
    margin: 10px;
    border: 1px solid white;
    border-radius: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    font-weight: 500;
}

.user-info i {
    font-size: 30px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: white;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    margin: 12px 0;
    gap: 1em;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link i {
    font-size: 20px;
    padding: 5px;
}

.sub-menu-link span {
    font-size: 22px;
    margin-right: 8px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
}

/*carrito boton*/
.cart-icon {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.cart-icon i {
    background-color: var(--rojo);
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s ease;
}

.cart-icon i:hover {
    background-color: white;
    color: var(--rojo);
}

/*-----------FOOTER------------*/

footer {
    border-top: 1px solid #222;
    padding: 35px 0;
    text-align: center;
    color: #bbb;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--grisOscuro);
}

footer p {
    letter-spacing: 1px;
}

footer div {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

footer a {
    color: rgb(155, 155, 155);
}

footer a:hover {
    text-decoration: underline;
}

/*Carrito*/
.cart-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cart-menu h3 {
    border-bottom: 1px solid white;
}

.cart-icon {
    position: relative;
}

.cart-icon span {
    background-color: white;
    color: var(--rojo);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: absolute;
    right: -5px;
    top: -5px;
}

.sidebar {
    width: 400px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -400px;
    background-color: #161616;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.sidebar--footer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-top: white solid 2px;
}

.sidebar.open {
    right: 0;
}

.side-close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 1rem;
}

.individual-cart-tems {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 5px;
}

.cart-tems-price {
    color: #222;
}

.total--amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 15px 10px;
}

.cart-total {
    color: white;
    font-weight: 500;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cart-item-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*-------------PÁGINA INICIO------------------*/
#carrusel img {
    width: 100%;
}

#info {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#info article {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 30%;
}

#info article div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: solid #6d2216 2px;
    padding-right: 10px;
}

/*----------------PÁGINA REGISTRO E INICIO DE SESIÓN-----------------*/
.imgRegistro,
.imgLogin {
    height: 100%;
}

.mainForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.mainForm>article {
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form>div>h2 {
    margin-bottom: 10px;
}

.form form>div {
    display: flex;
    flex-direction: row;
    gap: 1em;
    width: 100%;
}

.form form div>div {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

input,
textarea {
    border: none;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
}

.form button {
    background-color: var(--rojo);
    padding: 15px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 20px;
}

.form a {
    color: var(--rojo);
}

/*-------------PÁGINA LOCALES---------------*/
#mainLocales {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 2em;
}

.buscar {
    background-color: white;
    border-radius: 15px;
    width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
}

.buscar i {
    color: black;
}

.buscar form {
    flex: 1;
}

.buscar input {
    background: transparent;
    padding: 15px;
    outline: none;
    color: black;
    width: 100%;
    border: none;
}

#locales {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tarjetaLocal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: 700px;
    background-color: #292929;
    border: 1px rgba(255, 255, 255, 0.459) solid;
    border-radius: 10px;
    padding: 5px;
}

.tarjetaLocal .numLugar,
.tarjetaLocal .direccion,
.tarjetaLocal .horario {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

/*-----------PÁGINA HACE TU PEDIDO------------*/
#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuSeccion h2 {
    background-color: var(--rojo);
    padding: 5px;
    text-align: center;
}

.tarjetasMenu {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}

.tarjetaMenu,
.individual-cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid white 1px;
    border-radius: 10px;
    color: black;
    overflow: hidden;
}

.tarjetaMenu img {
    background-color: gainsboro;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.tarjetaMenu div,
.individual-cart-item>div {
    padding: 10px 5px;
    width: 70%;
}

.tarjetaMenu div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.tarjetaMenu i {
    background-color: var(--rojo);
    padding: 2px 6px;
    border-radius: 3px;
}

/*-----------PÁGINA CONFIGURACIÓN------------*/
#mainConfig,
#mainOrders {
    padding: 20px;
}

#mainConfig>div,
#mainOrders>div {
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 30px;
    border: 1px solid white;
}

.datos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cambiarDatos input {
    margin: 10px;
}

.cambiarDatos .botones {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 10px 0 0 0;
}

.datos button,
.confirmarbtn {
    background-color: var(--rojo);
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.cancelarbtn {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

.cancelarbtn p,
.cancelarbtn i {
    color: var(--rojo);
}

.datosSec {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.datosSec>div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#mainConfig .mostrarDatos,
#mainConfig .cambiarDatos.mostrar {
    display: flex;
}

#mainConfig .cambiarDatos,
#mainConfig .mostrarDatos.oculto {
    display: none;
}


/*-----------PÁGINA PEDIDOS------------*/
#mainOrders>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 20px;
}

/*-------------PÁGINA SOPORTE---------------*/
#banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 5%;
}

#ayuda {
    display: flex;
    flex-direction: row;
}

#ayuda section {
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 3em;
}

#ayuda section>div {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
}

#ayuda section>div>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

#ayuda section>div a {
    padding: 0 auto;
    border-radius: 40px;
    font-weight: 400;
}

/*-------------PÁGINA SOPORTE CONTACTO---------------*/
#contactSuportMain {
    display: flex;
    flex-direction: row;
    padding: 50px;
}